[submodule "tests/roles/docker"]
	path = tests/roles/docker
	url = https://github.com/kevincoakley/ansible-role-docker.git
[submodule "tests/roles/facter"]
	path = tests/roles/facter
	url = https://github.com/kevincoakley/ansible-role-facter.git
